<h2 align="left"> <%= @household.name %></h2>

 <h3>Admin: <%= current_user.name %></h3>

<p>button to go to appointment calendar</p>
<p>button to delete household</p>
<p>button to change address</p>

<h3>Manage Availabilities</h3>
<% if @availabilities.count < 1 %>
  <p>Start by adding availabilities</p>
<% else %>
  <ul>
    <% @availabilities.each do |a| %>
    <li>
      <form action="/availabilities/<%= a.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
        <%= "#{display_availability(a.available_date)}  " %><p class="status"><%= a.available_status ? ("Available"):("Booked") %></p></li>
      </form>
    <% end %>
  </ul>
<% end %>
<br>
<p> Add more availabilities</p>
  <form action="/availabilities" method="POST">
    <input type="datetime-local" name="datetime_local" />
    <input type="submit" value="Add" />
</form>
<br>
<h3>Household Members</h3>
<p>also want to delete each user with a button next to their name, right aligned</p>
<ul>
  <% @users.each do |user| %>
  <li><%= user.name %></li>
  <% end %>
</ul>

<br>
<p> Add more household members </p>
<form action="/adduser/<%=  %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="email">
  <input type="hidden" name="household_id" value="<%= @household.id %>">
  <input type="submit" value="Add Household Member" />
</form>
<%= "<div class='notice'> #{flash[:notice]}</div>" if flash[:notice] %>
