<h2 align="left"> <%= @household.name %></h2>

<p>Admin: <%= current_user.name %></p>

<h3>Manage Availabilities</h3>

<div class="container2">
  <div class="manage1">
  <% if @availabilities.count < 1 %>
    <p>Start by adding availabilities</p>
  <% else %>
    <table>
      <% @availabilities.each do |a| %>
      <tr>
        <td>
          <% if a.available_status %>
            <form action="/availabilities/<%= a.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input class="deletebutton" type="submit" value="Delete">
            </form>
          <% end %>
        </td>
        <td><%= "#{display_availability(a.available_date)}  " %></td>
        <td><%= a.available_status ? ("Available"):("Booked") %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
  </div>

  <div class="manage2">
    <h4> Add more availabilities:</h4>
      <form action="/availabilities" method="POST">
        <input type="datetime-local" name="datetime_local" />
        <input class="button1" type="submit" value="Add" />
      </form>
  </div>
</div>

<br>
<br>

<h3>Household Members</h3>
<ul>
  <% @users.each do |u| %>
  <li>
    <form action="/users/<%= u.id %>/removefromhouse" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="household_id" value="nil">
      <input class="deletebutton" type="submit" value="Remove">
      <%= u.name %>
    </form>
  </li>
  <% end %>
</ul>

<%= "<div class='notice'> #{flash[:notice]}</div>" if flash[:notice] %>

<br>
<br>

<p> Add more household members: </p>
<form action="/households/<%= current_user.household_id %>/manage" method="post">
  <input type="text" name="email"><br>
  <input type="submit" value="Find User" /><%= "<div class='notice'> #{flash[:notice2]}</div>" if flash[:notice2] %>
</form>
