<h1><%= @household.name %></h1>

<% if @availabilities.count < 1 %>
  <p>This household has not yet set up any available times. Please check back soon.</p>
<% else %>
  <table>
    <tr>
      <th>Date</th>
      <th>Status</th>
      <th>Book it!</th>
    </tr>
    <% @availabilities.each do |a| %>
    <tr>
      <td><%= display_availability(a.available_date) %></td>
      <td><%= a.available_status ? ("Available") : ("Booked") %></td>
      <td>
        <form action="/availabilities/<%= a.id %>/book" method="post">
          <input id="hidden" type="hidden" name="_method" value="patch">
          <input type="hidden" name="other_household_id" value="<%= current_user.household.id %>">
          <% if a.available_status %>
            <input class="button2" type="submit" value="Book" />
          <% end %>
        </form>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>
